@model IList<DailyOrSum>
@using Zero.Data.Projects
@using NewLife;
@using NewLife.Web;
@using XCode;
@using XCode.Configuration;
@using XCode.Membership;
@using NewLife.Cube;
@{
    var fact = ViewBag.Factory as IEntityFactory;
    var page = ViewBag.Page as Pager;
    var fields = ViewBag.Fields as IList<FieldItem>;
    var set = ViewBag.PageSetting as PageSetting;
    var provider = ManageProvider.Provider;
    var findUserByID = Zero.Data.Projects.User.FindByID;
    var pictureList = Picture.FindAllByDailyOrSumID;
    var findEffect = Effect.FindByID;
    var findDiseaseByUserID = UserDisease.FindAllByUserID;
  
    var findUserDisease = UserDisease.FindAllByUserID;

    var user = (Zero.Data.Projects.User)ViewData["user"];

    var act = Context.Request.Path + "";
}
 <style>
    td{
        /*border: 1px solid black;*/
        padding:15px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(190, 120, 255);
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
       
    }

    li a:hover {
        background-color: rgb(190, 120, 255);
}

    </style>

<table id="addTable" class="table table-bordered table-hover table-striped table-condensed">
    <tbody>
            <tr><td width="60" height="65">
                    @if (user.Avatar == "")
                    {
                        <img src="../GetDefalutAvatar" width="60" height="60"/>
                    }
                    else
                    {
                        <img src="@user.Avatar" width="60" height="60"/>
                    }    
                </td>
                <td class="text-left">
                    @user.Name
                </td>
                @*<input type="text" name="test" disabled="disabled" style="background:#CCCCCC" value="@Model.Sex"/>*@
            </tr>
</tbody>
</table>
<table id="inputList" class="table table-bordered table-hover table-striped table-condensed">
    <tbody>
       <div id="inputList">
            <tr><td width="60" height="65" class="text-left">性别</td><td class="text-center"><input class="text-center" style="width:100%;" type="text"  value="@user.Sex" readonly></td><tr/>
            <tr><td class="text-left">年龄</td><td class="text-center"><input class="text-center" style="width:100%;" type="text" " value="@user.Age" readonly></td><tr/>         
            <tr><td class="text-left">手机号</td><td class="text-center"><input class="text-center" style="width:100%;" type="text"  value="@user.Phone" readonly></td><tr/>         
            <tr><td class="text-left">身高（cm）</td><td class="text-center"><input class="text-center" style="width:100%;" type="text"  value="@user.Height" readonly></td><tr/>         
            <tr><td class="text-left">体重（kg）</td><td class="text-center"><input class="text-center" style="width:100%;" type="text"  value="@user.Weight" readonly></td><tr/>         
            <tr><td class="text-left" >慢性病类型</td>                 
               
                @{
                    var diseaseContent = "";
                }
                @foreach (var disease in findUserDisease(user.ID))
                  {
                        diseaseContent += @disease.DiseaseName + ",";
                   }
                <td>
                   <input class="text-center" style="width:100%;" type="text" name="input1" value="@diseaseContent" readonly>
               </td>
            <tr/>         
         </div>
    </tbody>
</table>

    <ul>
        <li><a class="active" href="#GetDaily">日常打卡与疗程总结</a></li>
   </ul>  
    @foreach (var entity in Model)
        {
        <table class="table table-bordered table-hover table-striped table-condensed" >
            <tbody>
                <tr class="text-center">                    
                    <td class="text-center"  width="80" height="80"><img src="@Zero.Data.Projects.User.FindByID(entity.UserID).Avatar" width="80" height="80"/></td>
                    <td class="text-left">@findUserByID(entity.UserID).Name</td>
                    <td style="text-align:right;" class="text-right">@entity.EvaluateTime</td>
                </tr>
              
                <tr class="text-left"><td >评价效果</td><td text-center colspan="3">@findEffect(entity.EffectID)</td></tr>
                <tr class="text-left">
                    <td >慢性病类型</td>
                    <td  text-center colspan="3">
                    @foreach (var disease in findDiseaseByUserID(entity.UserID))
                    {
                        <span>@disease.DiseaseName</span>
                        <span>,</span>
                    }
                </td>
                </tr>
                <tr class="text-left"><td >新冠感染</td><td text-center colspan="3">@findUserByID(entity.UserID).Infection</td></tr>
                <tr class="text-left">
                    <td colspan="3">
                        <textarea  style="width:100%;" class="text-left" rows="10" cols="150">@entity.Evaluate </textarea>   
                    </td>
                </tr>
                
                 <tr class="text-left">
                <td width="160" height="130" colspan="3">
                @foreach(var picture in pictureList(entity.ID))
                {
                
                
                    <img src="@picture.Content" width="150" height="120"/>
                  
                }
                </td>
                <tr class="text-left">
                   <td colspan="3">
                   <audio controls>
                   <source id="" src="@entity.Recording">
                   </audio>
                   </td>
                </tr>              
            </tbody>
        </table>
       <div style = "width:100%;
                    height:60px;
                    background-color:rgb(211, 217, 216)"></div>
        } 

      
         <div class="text-center" style = "width:100%;
                        height:180px;
                        background-color:rgb(211, 217, 216);">
             莫得拉不用往下拉了
         <div/>
           
    
        
  <div style="position: fixed;bottom:0; width:100%;">
            <ul>
            <li><a class="active" href="../AddDaily?id=@user.ID">打卡</a></li>
            <li><a href="../GetSearchUser?id=@user.ID">用户</a></li>
            <li><a href="../GetChouJiang?id=@user.ID">积分抽奖</a></li>
            <li><a href="../GetDaily?id=@user.ID">动态</a></li>
            <li><a href="../GetUser?id=@user.ID">我的</a></li>
            </ul>
        </div>
  
